<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Experimental Platform CO2 example fakes</title>
    <script src="js/d3.min.js"></script>
    <script src="js/tinycolor.js"></script>
    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io.connect('http://localhost:5000');
      socket.on('co2', function (data) {
        document.getElementById("co2").innerHTML = data.value;
        console.log(data);
      });
      socket.on('hue', function (data) {
        document.getElementById("hue").innerHTML = "Hue: " + data.hue + " Sat: " + data.sat + " Bri: " + data.bri;
        var color = tinycolor({h: Math.floor(data.hue / 182), s: data.sat, v: data.bri});
        document.getElementById("hueColor").style.backgroundColor = "#" + color.toHex();
        console.log(data);
      });
    </script>
    <style type="text/css" media="screen">
      #hueColor {
        height: 150px;
      }
    </style>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all" />
  </head>
  <body>
    <div class="container">
      <form class="form-inline">
        <div class="form-group">
          <label for="hueUrl">HueUrl<label>
          <input type="text" name="hueUrl" class="form-control" value="<%= hueUrl %>">
        </div>
      </form>
      <h1>Hue lights</h1>
      <div class="well">
        <div id="hue"></div>
        <div class="alert" id="hueColor"></div>
      </div>
      <h1>CO2 Sensor</h1>
      <div class="well">
        <span id="co2"></span> ppm
      </div>
    </div>
  </body>
</html>
